@{
    ViewBag.Title = "Home Page";
}
<body>


    <center>
        <h1>
            Welcome to LandingPad
        </h1>

        <h2>Welcome @TempData["UserTag"] Timeline</h2>

        <a class="twitter-timeline" data-width="700" data-height="400" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/SquareOne2018?ref_src=twsrc%5Etfw">Tweets by SquareOne2018</a>

        <h2>Likes</h2>

        <a class="twitter-timeline" data-width="700" data-height="400" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/SquareOne2018/likes?ref_src=twsrc%5Etfw">Tweets Liked by SquareOne2018</a>

        <h2>Tweet</h2>

        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>

        <h2> Search </h2>

        <a class="twitter-timeline" href="https://twitter.com/hashtag/dogs" data-widget-id="983163928451493888">#dogs Tweets</a>

        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

        @*<h2>Lists</h2>

            <a class="twitter-timeline" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/SquareOne2018/lists/list-number-one?ref_src=twsrc%5Etfw">A Twitter List by SquareOne2018</a>*@

    </center>


    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">

    </script>

</body>

