@model LandingPad.Models.Twitter

@{
    ViewBag.Title = "Twitter Settings";
}


<!DOCTYPE html>
<html>
<head>
    <title>Twitter Settings</title>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        #logout {
            background-color: #3b5998;
            color: white;
            padding: 10px 10px;
            text-align: center;
            border: none;
            height: 32px;
            padding-bottom: 10px;
        }

        #centerbtn {
            text-align: left;
        }
    </style>
    <h1>LandingPad Social Media Settings</h1>

    <h4>Twitter Connection Status</h4>
    <p>By logging in to Twitter you give LandingPad permission to post on your behalf.</p>
    <p>LandingPad will only post information you want and nothing else.</p>


    @using (Html.BeginForm("TwitterAuth", "Home", FormMethod.Get))
    { <br /> <button class="btn btn-info"
                     type="submit"
                     id="twitter">
        Login to Twitter
    </button>
    }


    @if (Convert.ToDateTime(@ViewBag.EndTime) > DateTime.Now)
    {
        <p>&#x2705; You are currently connected! </p>
    }
    else
    {
        <p>&#10060; You are not currently connected! </p>
    }
    @*<input type="button" value="Logout of Twitter"
        onclick="window.open('https://twitter.com/login?lang=en')">*@

    <input type="button" value="Logout of Twitter"
           onclick="window.open('https://twitter.com/logout')">


    @*@using (Html.BeginForm("TwitterAuth", "Home", FormMethod.Get))
        {
            <br />
                <button type="submit" id="twitter">Login with Twitter</button>
        }*@

</body>

</html>