@model LandingPad.DAL.LandingPadContext

<div class="confirmSelections">
    <h3>Is this okay?</h3>
    Title <span id="confirmTitle"></span><br />
    Description <span id="confirmDescription"></span><br />
    ProfileID <span id="confirmProfileID"></span><br />
    Pseudonyms <div id="confirmPseudonyms"></div><br />
    Formats <div id="confirmFormats"></div><br />
    Allow likes? <span id="confirmLikes"></span><br />
    Allow comments? <span id="confirmComments"></span><br />
    Allow critique? <span id="confirmCritique"></span><br />
    <div id="confirmText"></div>
</div>
