@model IEnumerable<LandingPad.Models.FormatTag>

<div class="tagSelector">
    Search <input list="formatTagSearch" />
    <datalist id="formatTagSearch">
        <!--[if lte IE 9]><select data-datalist="formatTagSearch"><![endif]-->
        @foreach (var item in Model)
        {
            <option value="@Html.DisplayFor(ModelItem => item.FormatName)" name="@Html.DisplayFor(ModelItem => item.FormatID)"></option>
            foreach (var subitem in item.AltFormatNames)
            {
                <option value="@Html.DisplayFor(ModelItem => subitem.AltName)" name="@Html.DisplayFor(ModelItem => subitem.FormatID)"></option>
            }
        }
        <!--[if lte IE 9]></select><![endif]-->
     </datalist>
</div>

@section scripts{
    <script src="https://raw.githubusercontent.com/Fyrd/purejs-datalist-polyfill/master/datalist.polyfill.min.js" type="text/javascript"></script>
}
