<div class="permissionsSelector">
    <h3 onmouseover='showExplanationNotFT("permissionsDescription", "Who can view a piece of writing (coming soon!) and how they are allowed to interact with it. All permissions options can be changed at any time. For more information on what the different options mean, hover over them.")'>Select Writing Permissions</h3>
    <div id="permissionsContainer">
        <div id="accessContainer">
            <span class="public formItem" onmouseover='showExplanationNotFT("permissionsDescription", "Allowing public access means that anyone can view this piece of writing. By selecting this option, you will automatically allow friends, followers, and publishers alike to view your work.")'>
                Allow public access? <input type="checkbox" value="PublicAccess" onchange='changeAccess("public")' name="PublicAccess" id="publicAccess" /><br />
            </span>

            <span class="friend formItem" onmouseover='showExplanationNotFT("permissionsDescription", "Allowing friend access means that people who are your mutual friends will be able to see this writing. If this option is not unchecked, that means it does not allow public access.")'>
                Allow friend access? <input type="checkbox" value="FriendAccess" onchange='changeAccess("friend")' name="FriendAccess" id="friendAccess" /><br />
            </span>

            <span class="publisher formItem" onmouseover='showExplanationNotFT("permissionsDescription", "Allowing publisher access means that user accounts that are marked as being owned by publishers or literary agents will be able to view your writing. Just selecting publisher access is a great way to limit the number of people who can see your writing, while still allowing it to be found by potential employers. If this option is not unchecked, that means it does not allow public access.")'>
                Allow publisher access? <input type="checkbox" value="PublisherAccess" onchange='changeAccess("publisher")' name="PublisherAccess" id="publisherAccess" /><br />
            </span>

            <span class="minor formItem" onmouseover='showExplanationNotFT("permissionsDescription", "One of the goals of Penfolio is to give you as a writer a single place to post all of your writing. This means that some of the pieces you post may not be appropriate for younger readers. By not selecting this option, you are noting that your writing is for more mature audiences and protecting minors from stumbling across material they may not be ready for yet. Examples of things that may not be appropriate for minors include graphic violence or explicit sexual content, strong language, and mature themes such as non-consensual romantic or physical interactions. Ultimately, the decision on age appropriateness of your writing is up to you, but please use your best judgement.")'>
                Allow minor access? <input type="checkbox" value="MinorAccess" name="MinorAccess" id="minorAccess" /><br />
            </span>
        </div>
        <div id="interactionContainer">
            <span class="likes formItem" onmouseover='showExplanationNotFT("permissionsDescription", "Anyone who can view this writing can leave a like to let you know they enjoyed your writing.")'>
                Allow likes? <input type="checkbox" value="LikesOn" name="LikesOn" id="likesOn" /><br />
            </span>

            <span class="comments formItem" onmouseover='showExplanationNotFT("permissionsDescription", "Anyone who can view this writing can leave a short comment letting you know what they thought of your writing.")'>
                Allow comments? <input type="checkbox" value="CommentsOn" name="CommentsOn" id="commentsOn" /><br />
            </span>

            <span class="critique formItem" onmouseover='showExplanationNotFT("permissionsDescription", "Anyone who can view this writing can leave inline critque offering specific feedback and suggested edits.")'>
                Allow critique? <input type="checkbox" value="CritiqueOn" name="CritiqueOn" id="critiqueOn" /><br />
            </span>
        </div>
    </div>

    <div id="permissionsDescription">
    </div>
</div>
