@model IEnumerable<LandingPad.Models.Writing>

@{
    ViewBag.Title = "AllWriting";
    Layout = "~/Views/Shared/_PenfolioLayout.cshtml";
}

<h2>Browse Writing</h2>

@foreach(var item in Model)
{
    @Html.Partial("_WritingPreview", item)
}