@model LandingPad.Models.Writing

@{ 
}

<div id="editWriting"></div>
<h2>@Model.Title</h2>
<div id="byline">@ViewBag.Byline</div>

<div id="content" style="white-space:pre-wrap">@Html.Raw(ViewBag.Document)</div>

