<div class="confirmSelections">
    <h3>Is this okay?</h3>
    <span class="confirm">Title</span> <span id="confirmTitle"></span><br />
    <span class="confirm">Description</span> <span id="confirmDescription"></span><br />
    <span class="confirm">ProfileID</span> <span id="confirmProfileID"></span><br />
    <span class="confirm">Use pseudonym(s) in addition to username?</span> <span id="confirmUseInAdditionToUsername"></span><br />
    <span class="confirm">Pseudonyms</span> <div id="confirmPseudonyms"></div><br />
    <span class="confirm">Formats</span> <div id="confirmFormats"></div><br />
    <span class="confirm">Allow public access?</span> <span id="confirmPublicAccess"></span><br />
    <span class="confirm">Allow friend access?</span> <span id="confirmFriendAccess"></span><br />
    <span class="confirm">Allow publisher access?</span> <span id="confirmPublisherAccess"></span><br />
    <span class="confirm">Allow minor access?</span> <span id="confirmMinorAccess"></span><br />
    <span class="confirm">Allow likes?</span> <span id="confirmLikes"></span><br />
    <span class="confirm">Allow comments?</span> <span id="confirmComments"></span><br />
    <span class="confirm">Allow critique?</span> <span id="confirmCritique"></span><br />
    <span class="confirm">File</span> <span id="confirmFilename"></span><br />
</div>
