@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @model DateTime?
    @string.Format("{0:MMMM d, yyyy h:mm tt}", Model)
</body>
</html>
