@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>XCStats will be for coaches and teams who want to keep track of their records and view overall team progress. XCStats will have options to record data and upload it to a cloud database, allowing users to view their previous records.This application differs from existing by allowing coaches to view their athletes workouts and plan the next day accordingly to further improve the team as a whole. Our product benefits both the coach and the athletes that are users, saving time and displaying information in an effectively to read format.
</p>

<break></break>

<h1> Current Features</h1>

<p> Use the menu buttons to navigate through pages and display information</p>

<li>Athletes/Coach information</li>
<li>Create/edit/delete Athletes and Coaches records </li>
<li>Display/Create/edit/delete Athlete Records and works outs</li>

<break></break>
