@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    221b Baker St,<br />
    Marylebone, London NW1 6XE, UK<br />
    <abbr title="Phone">P:</abbr>
    503.555.2368
</address>

