@{
    ViewBag.Title = "Home";
}

<h2>Welcome to XCStats</h2>
<p>XCStats is a service for keeping track of cross country workout records and team progress. Athletes and coaches can upload data collected during workouts by Garmin watches. Athletes can then view their data in an easy-to-read format, while coaches can view the data for all the members of their team. This readily accessable knowlege allows coaches to view current workouts, plan new workouts, and assign workouts to individual athletes in order to improve the overall team. Save time and plan effectively with XCStats.</p>

<h2>Current Features</h2>
<ul>
    <li>Account creation and login pages</li>
    <li>Display, edit, and create individual records</li>
    <li>Display and edit athletes</li>
    <li>Display and edit coaches</li>
    <li>Display, edit, and create workout assignments</li>
</ul>

<h2>Upcoming Features</h2>
<ul>
    <li>Multiple account types</li>
    <li>Coaches can add athletes to or remove athletes from their team</li>
</ul>

