@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    made up street address
    city, state
    phone number
</address>

<address>
   email address
</address>