@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XCStats</h1>
    <p> Welcome, we are currently underconstructions. Some links or features may not be availble for use.</p>
</div>

<div class="row">

</div>