.triangle-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 100px solid #262626;
    border-bottom: 100px solid transparent;
}

.triangle-leftbottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 100px solid #262626;
    border-bottom: 0;
}

.triangle-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 100px solid #262626;
    border-bottom: 100px solid transparent;
}

.triangle-rightbottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid #262626;
    border-bottom: 0;
}

#bgGreen {
    background-color: #46B334;
    
}

#thebox {
    padding: 0;
    margin: 0;
    background-image: url("../Content/Images/Penfolio/penfoliobackground.png");
    background-repeat: repeat;
    height: 100%;
}

h1 {
    color: black;
    text-align: center;
}

p {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}

a {
    color: #ca4242;
}
