
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_PenfolioLayout.cshtml";
}

<h1>We're sorry the page cannot be found or does not exist.</h1>

<h2>Valid Routes:</h2>
<!--List of all our current controllers and routes, need to clean these up as some are not in use-->
<ol>
    <li>/Writing/Index</li>
    <li>/Writing/</li>
    <li>Writing/Create</li>
    <li>/Writing/Edit</li>
    <li>/Writing/SearchByFormatTag</li>
    <li>/Writing/SearchByGenreTag</li>
    <li>/Writing/Delete</li>
    <li>/Writing/DeleteConfirmed</li>
    <li>/Writing/Friends</li>
    <li>/Writing/CreateProfileFriendRequest</li>
    <li>/Writing/CreatePseudonymFriendRequest</li>
    <li>/Writing/AcceptFriendRequest</li>
    <li>/Writing/DeleteFriendRequest</li>
    <li>/Writing/RemoveFriend</li>
    <li>/Writing/Settings</li>
    <li>/Writing/AddProfileRole</li>
    <li>/Writing/RemoveProfileRole</li>
    <li>/Writing/ChangeDatOfBirth</li>
    <li>/Writing/ChangeName</li>
    <li>/Writing/AddPseudonym</li>
    <li>/Writing/DeletePseudonym</li>
    <li>/Writing/ViewWriting</li>
    <li>/Writing/GetAllWritingAvailable</li>
    <li>/Upload/Store</li>
    <li>/Upload/UploadEdit</li>
    <li>/Upload/Download</li>
    <li>/Error/PageNotFound</li>
    <li>/Error/DeleteError</li>
    <li>/Error/EditError</li>
    <li>/Error/DownloadError</li>
    <li>/Account/Login</li>
    <li>/Account/Register</li>
    <li>/Account/VerifyCode</li>
    <li>/Account/ConfirmEmail</li>
    <li>/Account/ForgotPassword</li>
    <li>/Account/ForgotPasswordConfirmation</li>
    <li>/Account/ResetPassword</li>
    <li>/Account/ResetPassswordConfirmatiion</li>
    <li>/Account/ExternalLogin</li>
    <li>/Account/SendCode</li>
    <li>/Account/ExternalLoginCallback</li>
    <li>/Account/ExternalLoginConfirmation</li>
    <li>/Account/LogOff</li>
    <li>/Account/ExternalLoginFailure</li>
    <li>/Home/TwitterAuth</li>
    <li>/Home/TwitterCallback</li>
    <li>/Home/Index</li>
    <li>/Home/About</li>
    <li>/Home/Settings</li>
    <li>/Home/LPUserCreate</li>
    <li>/LPProfiles/Index</li>
    <li>/LPProfiles/Create</li>
    <li>/LPProfiles/Details</li>
    <li>/LPProfiles/Edit</li>
    <li>/LPProfiles/Delete</li>
    <li>/LPProfiles/DeleteConfirmed</li>
    <li>/LPUsers/Index</li>
    <li>/LPUsers/Details</li>
    <li>/LPUsers/Create</li>
    <li>/LPUsers/Delete</li>
    <li>/LPUsers/DeleteConfirmed</li>
    <li>/Manage/Index</li>
    <li>/Manage/RemoveLogin</li>
    <li>/Manage/LinkLogin</li>
    <li>/Twitters/Index</li>
    <li>/Twitters/Details</li>
    <li>/Twitters/Create</li>
    <li>/Twitters/Edit</li>
    <li>/Twitters/Delete</li>
    <li>/Twitters/DeleteConfirmed</li>
</ol>

